.actor {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-height: 510px;
  border-radius: 10px;
  position: relative;
}

.photo {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 11px;
}

.name {
  width: 100%;
  height: 46px;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  color: var(--gray-text);
  margin: 10px 0 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
