.header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  width: 100%;
  background-color: var(--gray-background);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  color: var(--gray-text);
  background-color: var(--adjective-light-blue);
  margin: 0;
}
