:root {
  --general-default: #42ab44;
  --general-hover: #248341;
  --general-active: #245f34;

  --gray-text: #1c1c1c;
  --gray-background: #ffffff;
  --gray-label: #7d7e7f;
  --gray-subtitle: #b0b1b2;
  --gray-stroke: #c9cacc;
  --gray-select: #e2e4e5;
  --gray-header: #f5f7f9;
  --gray-bg-active: #ebedf0;

  --accent-danger: #f23030;
  --accent-caution: #ff881b;
  --accent-warning: #ffcb05;
  --accent-blue: #09caf6;

  --adjective-light-blue: #e5f1ff;
  --adjective-light-green: #e2f6e2;
  --adjective-light-orange: #fdf1e5;
  --adjective-light-red: #ffecec;
  --adjective-red: #ffdddd;
  --adjective-orange: #ffe6cf;
}
